{% extends '_base.html'%}
<!--how was the user and its related variables magically available in our template?
Django just gives this to us automatically-->
{%block title%}Home{%endblock title%}

{%block content%}
<h1>HomePage</h1>
{% if user.is_authenticated%}
Hi {{user.email}}
<form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Log Out</button>
</form>
{%else%}
<p>you are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Sign Up</a>
{%endif%}
{%endblock content%}


